body {
  font-family: "Montserrat", sans-serif;
}
header {
  margin: -10px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-9 {
  width: calc(100% / 12 * 9);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-7 {
  width: calc(100% / 12 * 7);
}
.col-6 {
  width: calc(100% / 12 * 6);
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-3 {
  width: calc(100% / 12 * 3);
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-1 {
  width: calc(100% / 12 * 1);
}

.menu {
  width: 250px;
  height: 100vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 20px;
  margin-left: -10px;
  margin-top: -110px;
}

.logo {
  width: 150px;
  color: white;
  margin-top: 20px;
}
.icon {
  width: 30px;
  padding-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

a {
  padding-top: 0px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  vertical-align: top;
}
.text-white {
  color: white !important;
  text-align: left;
  margin-top: 0px;
}
.quadrato {
  width: 40px;
  height: 40px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: black;
  margin-right: 10px;
}
.new-play {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 40px;
  background-color: #111319;
  margin: -10px;
}

.custom-button {
  background-color: #ffffff00;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #00bcd4;
  color: #fff;
}
